<c-sidebar class="sidebar sidebar-dark bg-dark" visible="true">
  <!-- force visible sidebar -->
  <c-sidebar-nav [navItems]="sidebarItems"></c-sidebar-nav>
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100 bg-light w-100">
  <c-header class="header header-sticky mb-4">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Sandhya Flames</h5>
      <button cButton color="danger" (click)="logout()">Logout</button>
    </div>
  </c-header>

  <div class="body flex-grow-1 px-3">
    <router-outlet></router-outlet>
  </div>

  <c-footer class="footer">
    <div><strong>Sandhya Flames © 2025-2026</strong></div>
    <div class="ms-auto">
      Powered by <a href="#" target="_blank">NeuroCraft</a>
    </div>
  </c-footer>
</div>
<c-toaster position="top-center" class="top-center-fix">
  <c-toast *ngFor="let toast of toastService.toasts" [color]="toast.color || 'primary'"
    [autohide]="toast.autohide ?? true" [delay]="toast.delay ?? 3000" [visible]="true"
    (cClosed)="toastService.remove(toast)">
    <c-toast-header *ngIf="toast.title">{{ toast.title }}</c-toast-header>
    <c-toast-body>{{ toast.body }}</c-toast-body>
  </c-toast>
</c-toaster>